<br/>
<div class="row justify-content-center">
  <div class="font-weight-bold text-center border life" style="font-size: 2em; width: 120px">
    Life: {{gameState.life}}
  </div>
  <div class="font-weight-bold text-center border pkt" style="font-size: 30px; width: 120px; margin-left: 10px">
    Pkt: {{gameState.pkt}}
  </div>
  <div class="font-weight-bold text-center" style="font-size: 30px; width: 300px; margin-left: 10px">
    REFLEX GAME
  </div>
  <div class="font-weight-bold text-center border time" style="font-size: 30px; width: 240px; margin-left: 10px">
    Time: {{gameState.time}} s
  </div>
</div>





